/* General */
body {
  background-color: #f8f8f8; }

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; }

.container {
  width: auto !important; }

.btn {
  margin-right: 5px; }

.btn-sm {
  margin-bottom: 0px !important;
  font-size: 15px;
  width: 5.5em;
  height: 2.2em; }

.col-float-left {
  float: left; }

.col-float-right {
  float: right; }

/* End General */
/* Loading */
.overlay {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* End Loading */
/* Login */
.login-container {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; }

.login-wrap {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1); }

.login-form-title {
  display: block;
  font-size: 40px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px; }

.login-wrap-input {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #f8f8f8; }

.login-input {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #555555;
  line-height: 1.2; }

input.login-input {
  height: 68px;
  padding: 0 25px 0 25px; }

.login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #4272d7;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login-form-btn:hover {
  background-color: #1c3e87;
  color: #fff; }

.login-wrap-txt {
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
  padding: 30px 0px 4px 0px; }

.login-txt {
  font-size: 15px;
  line-height: 1.4;
  color: #555555; }

.login-link {
  color: #4272d7; }

/* End Login */
/* Customer */
.ctm-header-container {
  padding: 30px 0px 0px 0px;
  text-align: center; }

.ctm-header-txt {
  color: #555555; }

.ctm-header-btn {
  margin-top: 12px;
  font-size: 14px;
  float: right; }

.btn.btn-xs.action-buttons:focus {
  outline: 0; }

.btn-xs {
  padding: 1px 5px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px; }

.panel {
  margin-top: 2%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-body {
  padding: 15px; }

.panel-body-header {
  margin-bottom: 10px; }

.ctm-header-table-btn {
  background-color: #4272d7 !important;
  border-color: #4272d7 !important;
  margin-top: 12px;
  font-size: 14px; }

.ctm-header-table-btn:hover {
  background-color: #1c3e87 !important;
  border-color: #1c3e87 !important; }

.ctm-header-table-btn:focus {
  box-shadow: none; }

.ctm-header-table-btn:active {
  box-shadow: none; }

.ctm-link-style-btn-sm {
  width: 14%; }

.ctm-table-button {
  background-color: #e8e7e7;
  color: #555555;
  margin-top: 12px;
  font-size: 14px;
  width: 14%; }

.ctm-table-button:hover {
  background-color: #e8e7e7;
  color: #555555; }

.ctm-table-button:focus {
  box-shadow: none; }

.ctm-table-button:active {
  box-shadow: none; }

.ctm-address-btn {
  font-size: 14px;
  float: right; }

.ctm-address-rm-btn {
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem; }

/* End Customer */
/* Data Table */
.action-buttons {
  margin: 3px;
  float: left; }

.container-row {
  margin-right: -29px;
  margin-left: -29px; }

.data-table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }

.table {
  background-color: #464747; }

/* End Data Table */
/* Modal */
.modal-title {
  font-weight: 400; }

.modal-body {
  font-size: 15px; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px !important; } }

h5.heading {
  border-bottom: 1px solid #d2d6de;
  font-weight: 400;
  margin-top: 2%; }

.historic-button {
  padding: 4px 12px;
  position: relative;
  bottom: 5px;
  font-size: x-small;
  transition: transform 200ms ease;
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad; }

@media only screen and (max-width: 990px) {
  .ReactModal__Content.ReactModal__Content--after-open.modal-dialog {
    width: 90% !important; } }

/* End Modal */
/* Address Panel */
.history_box_group {
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f2f2f2;
  height: 300px;
  max-height: 110px;
  font-size: 15px;
  overflow-y: scroll; }

.history_box_group .history_row {
  padding-top: 0.55rem;
  font-size: 14px;
  font-weight: 500; }

.history_box_group .history_row p {
  margin: 0; }

/* Address Panel End */
/* Modal Dialog */
.ReactModal__Content.ReactModal__Content--after-open.modal-dialog {
  border-radius: 6px; }

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto; }

.modal-footer {
  padding: 1rem 1rem 0.5rem 1rem; }

/* End Modal Dialog */
/* Form Validation */
.error-input {
  border: 1px solid #c7254e; }

.popover.top {
  display: block;
  margin-top: -24px;
  left: 50%;
  width: 45%;
  background: #f9f2f4;
  border-color: #c7254e;
  color: #c7254e; }

.popover-content {
  background: #f9f2f4;
  border-color: #c7254e;
  color: #c7254e;
  font-size: 12px;
  text-align: center; }

.popover.top > .arrow {
  border-top-color: #c7254e; }

.popover.top > .arrow:after {
  border-top-color: #f9f2f4 !important;
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #fff;
  border-bottom-width: 0; }

div#popover-error {
  margin-top: -3%;
  margin-left: 30%; }

.popover {
  margin-left: 20%; }

.popover-body {
  color: #c7254e; }

/* End Form Validation */
/* Pagination */
.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 2.5em; }

.country-card-container {
  height: 60px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

.country-name {
  font-size: 0.9rem; }

.country-region {
  font-size: 0.7rem; }

.country-page,
.country-name,
.country-region {
  line-height: 1; }

ul.pagination {
  margin-top: 40px;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

ul.pagination li.page-item.active a.page-link {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important; }

ul.pagination a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem; }

ul.pagination a.page-link:hover {
  background-color: #f4f4f4; }

.total-pages {
  margin-left: 35px;
  margin-right: 30px;
  margin-top: 30px; }

/* End Pagination */
